* {
    margin: 0;
    padding: 0;
}

:root {
    --nav-icon-size: 5rem;
    --dump-icon-size: 5rem;
    --header-footer-size: 1vw;
    --title-margin: 2vw;
    --borders: solid;

    --icon-offset: calc(var(--title-margin) * 2 + var(--header-footer-size));
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    width:100%;
    line-height: var(--header-footer-size);
    text-align: center;
    border-style: none none var(--borders) none;
}

.header-title {
    margin-top: var(--title-margin);
    margin-bottom: var(--title-margin);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero {
    max-width: 100%;
    padding-top: calc(
        (100vh 
        - 2 * (var(--header-footer-size) + var(--title-margin) * 2)
        - 20vw
        ) / 2
        - 3px
    );
    padding-bottom: calc(
        (100vh 
        - 2 * (var(--header-footer-size) + var(--title-margin) * 2)
        - 20vw
        ) / 2
        - 3px
    );
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.icon-domu img {
    position: absolute;
    width: var(--nav-icon-size);
    height: var(--nav-icon-size);
    top: var(--icon-offset);
    left: 0;
}

.icon-back img {
    position: absolute;
    width: var(--nav-icon-size);
    height: var(--nav-icon-size);
    top: var(--icon-offset);
    left: var(--nav-icon-size);
}

.icon-dump img {
    position: absolute;
    width: var(--dump-icon-size);
    height: var(--dump-icon-size);
    top: var(--icon-offset);
    right: 0;
}

.slides-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    width: 100%;
}

.slideshow {
    position: relative;
    width: 20vw;
    height: 20vw;
    overflow: hidden;
}

.slideshow img {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.images-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    width: 100%;
}

.images {
    position: relative;
    width: 20vw;
    height: 20vw;
    overflow: hidden;
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.scroll {
    padding: 4vw;
    border-style: var(--borders) none none none;
}

.footer {
    width:100%;
    line-height: var(--header-footer-size);
    text-align: center;
    border-style: var(--borders) none none none;
}

.footer-text {
    margin-top: var(--title-margin);
    margin-bottom: var(--title-margin);
    display: inline-block;
}
.footer-text a {
    text-decoration: none;
    color: black;
}

@media (max-width: 768px) {
    .hero {
        margin-top: var(--nav-icon-size);
        margin-bottom: var(--nav-icon-size);
    }

    .slides-wrapper {
        flex-direction: column;
    }

    .slideshow {
        width: 70vw;
        height: 70vw;
    }

    .images-wrapper {
        flex-direction: column;
    }

    .images {
        width: 70vw;
        height: 70vw;
    }    
}